<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style2.css">
    <title>Bases</title>
</head>
<body>
    <div id="cabeçalho">

        <a href="../view/index.html"><img src="../img/logoMarias.png" alt="Marias" id="imglogo"></a>
        <input type="text"  placeholder="Buscar">
       <a href=""></a>

    </div>
    <footer>
          
          <main >
            
            <a href="../view/produto.html"><img src="../img/produtos.png" alt="" id="perfil"></a>
            <a href="../view/video.html"><img src="../img/videosaula.png" alt="" id="perfil"></a>
            <a href="../view/contato.html"><img src="../img/contato.png" alt="" id="perfil"></a>
           </main>
            <div id="flex">

            <h1 id="cat">Categorias</h1>
           <aside>
            
              <a href="../view/rimel.html"> <img src="../img/rimel.png" alt="Rimel" id="categoriasimg"></a>
              <a href="../view/batom.html"> <img src="../img/batom.png" alt="Batom" id="categoriasimg"></a>
             <a href="../view/blush.html"> <img src="../img/blush.png" alt="Blush" id="categoriasimg"></a>
              <a href="../view/base.html"><img src="../img/base-removebg-preview.png" alt="Base" id="categoriasimg"></a>
             <a href="../view/skincare.html"> <img src="../img/espelho.png" alt="Skincare" id="categoriasimg"></a>
         
            </aside>
          
         
          <section>

           

            <div id="produtos">    
            <nav>
              
              
                <article>
                    <a href="https://www.marimariamakeup.com/base-e-corretivo-matte-nude/p"  target="_blank" rel="noopener noreferrer">
                     <img src="https://marimaria.vteximg.com.br/arquivos/ids/158787-undefined-undefined/Frasco-Transparente-Fosco-Base-Corretivo-Alta-Cobertura-Contorno-Iluminacao-Velvet-Skin-Nude.png?v=637662986290230000" alt=""id="maquiagens"></a>
                     <h1>Base e Corretivo Matte</h1>
                     <h2>Mari Maria</h2>
                     <h3>R$ 69,90</h3>
                   
                </article>

            </nav>
            <nav>

                <article> <a href="https://www.rubyrosemaquiagem.com.br/produto/2550-base-liquida-feels-hb8053-pudim-20-rubyrose" target="_blank" rel="noopener noreferrer">
                    <img src="https://static.cdnlive.com.br/uploads/724/produto/16548768781253_detalhe.jpg" alt="" id="maquiagens"></a>
                     <h1>
                        Base Liquida Feels </h1>
                     <h2>Rubyrose </h2>
                     <h3>R$ 34,80</h3>
                     
                </article>
              
            </nav>
            <nav>

                <article>
                    <a href="https://www.dailus.com.br/olhos/lapis-e-lapiseira" target="_blank" rel="noopener noreferrer">
                      <img src="https://dailus.vteximg.com.br/arquivos/ids/163714/7894222029740_1.png?v=637684404478400000" alt="" id="maquiagens"></a>
                     <h1>BASE LÍQUIDA ULTRA COBERTURA - D12 ESCURO</h1>
                     <h2>Dailus</h2>
                     <h3> R$ 34,90</h3>
                   
                </article>
           </nav>
            <nav>

                <article>
                    <a href="https://www.rubyrosemaquiagem.com.br/produto/3018-corretivo-liquido-melu-amendoim-2-rubyrose"  target="_blank" rel="noopener noreferrer">
                     <img src="https://static.cdnlive.com.br/uploads/724/produto/16857171766666_detalhe.jpg" alt="" id="maquiagens"></a>
                     <h1> 
                        Corretivo Liquido Melu </h1>
                     <h2>Rubyrose </h2>
                     <h3>
                        R$ 24,50</h3>
                   
                </article>
                
            </nav>
                 
        </section>
        </div>
        </div>
            
       </footer>     
</body>
</html>