<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style2.css">
    <title>Inicio</title>
</head>
<body>
    <div id="cabeçalho">

       <a href="../view/index.html"> <img src="../img/logoMarias.png" alt="Marias" id="imglogo"></a>
        <input type="text"  placeholder="Buscar">
       <a href=""></a>
    </div>
    <footer>

        <main>

            <a href="../view/produto.html"><img src="../img/produtos.png" alt="" id="perfil"></a>
            <a href="../view/video.html"><img src="../img/videosaula.png" alt="" id="perfil"></a>
            <a href="../view/contato.html"><img src="../img/contato.png" alt="" id="perfil"></a>
        </main>

       <aside id="inicio">
               <img src="../img/Marias.png" alt="" id="imginicio">
               <section id="textorede">
                      <div id="sobrenois">
                          <p><h2 id="texto">Este site tem como objetivo ensinar maquiagem, desde as técnicas mais simples até as mais complexas. Aqui, 
                                  você encontrará dicas e truques para facilitar a sua jornada na maquiagem, tornando-a mais acessível e agradável. 
                             </h2>
                              <h1 id="texto"> Nosso compromisso é oferecer informações de forma leve e descomplicada para todas as pessoas que desejam aprimorar suas habilidades de maquiagem.</h1>
                           </p>

                       </div>
                       <p>Acesse nossas redes sociais: </p>
                      <div id="redes">
                        
                          <a href="https://www.tiktok.com/@mariassegredosdamaquiage?is_from_webapp=1&sender_device=pc" target="_blank" rel="noopener noreferrer"><img src="../img/tiktok.png" alt=""></a>
                          <a href="https://instagram.com/makeup_mariaa.s?igshid=MzRlODBiNWFlZA==" target="_blank" rel="noopener noreferrer"><img src="../img/instagram.png" alt=""></a>
                          <a href="https://youtube.com/@MARIAsSegredosDaMaquiagem?feature=shared" target="_blank" rel="noopener noreferrer"><img src="../img/youtube.png" alt=""></a>
                      </div>
              </section>
       </aside>


</body>
</html>