<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style2.css">
    <title>Bases</title>
</head>
<body>
    <div id="cabeçalho">

       <a href="../view/index.html"><img src="../img/logoMarias.png" alt="Marias" id="imglogo"></a> 
        <input type="text"  placeholder="Buscar">
       <a href=""></a>

    </div>
    <footer>
          
          <main >
            
            <a href="../view/produto.html"><img src="../img/produtos.png" alt="" id="perfil"></a>
            <a href="../view/video.html"><img src="../img/videosaula.png" alt="" id="perfil"></a>
            <a href="../view/contato.html"><img src="../img/contato.png" alt="" id="perfil"></a>
           </main>
            <div id="flex">

            <h1 id="cat">Categorias</h1>
           <aside>
            
              <a href="../view/rimel.html"> <img src="../img/rimel.png" alt="Rimel" id="categoriasimg"></a>
              <a href="../view/batom.html"> <img src="../img/batom.png" alt="Batom" id="categoriasimg"></a>
             <a href="../view/blush.html"> <img src="../img/blush.png" alt="Blush" id="categoriasimg"></a>
              <a href="../view/base.html"><img src="../img/base-removebg-preview.png" alt="Base" id="categoriasimg"></a>
             <a href="../view/skincare.html"> <img src="../img/espelho.png" alt="Skincare" id="categoriasimg"></a>
         
         
            </aside>
          
         
          <section>

           
            <div id="produtos">    
            <nav>
              
              
                <article>
                    <a href="https://www.sallve.com.br/products/kit-tudinho?variant=41709879361583&currency=BRL&utm_source=google&utm_medium=organic&utm_campaign=Google%20Shopping%20App&utm_content=Kit%20Tudinho&utm_source=google&utm_medium=midia&utm_campaign=performance_max_produto_others&gclid=CjwKCAjw69moBhBgE
                    iwAUFCx2Bh-X6aYGoOzj2bskAmHe7BGd3UUjRtg997eCIYD8u50GJn7gL-PThoC9KsQAvD_BwE"  target="_blank" rel="noopener noreferrer">
                     <img src="https://www.sallve.com.br/cdn/shop/files/tudinho_miniee.png?v=1695128430&width=530" alt=""id="maquiagens"></a>
                     <h1>kit tudinho</h1>
                     <h2>Sallve</h2>
                     <h3>R$ 164,90</h3>
                   
                </article>

            </nav>
            <nav>

                <article> <a href="https://www.oceane.com.br/kit-serum-acido-poliglutamico-gel-hidratante-facial-tonico-k688/p?idsku=41031&idtag=d20f0d65-4b34-46c5-83ad-128d921c2984&utm_source=Google&utm_medium=cpa&utm_campaign=Shopping&gclid=CjwKCAjw69moBhBgE
                    iwAUFCx2MgKe6SUYSgUhh0Nrc3v6KxrRsKkOA0nYC2MrxXhJsmDQhEOEpPyuxoCY2oQAvD_BwE" target="_blank" rel="noopener noreferrer">
                    <img src="https://oceane.vtexassets.com/arquivos/ids/201136-1600-1600?v=638013697769700000&width=1600&height=1600&aspect=true" alt="" id="maquiagens"></a>
                     <h1>
                         Sérum Ácido Poliglutâmico + Gel Hidratante Facial + Tônico (3 Produtos)</h1>
                     <h2>Oceane </h2>
                     <h3>R$ 152,00</h3>
                     
                </article>
              
            </nav>
            <nav>

                <article>
                    <a href="https://www.boticario.com.br/kit-botik-vitamina-c-4-itens/?&sku=B51473&utm_source=google&utm_medium=cpc&utm_campaign=G:BOTI:Smart-Shopping:Performance-Max:Skincare&gclid=CjwKCAjw69moBhBgEiwAUFCx2BkJP
                    tH_jb4Xnf1SehqeBo8NAUFA8HKlOw2CIMmwVqy7cGDbwyngwRoCOyAQAvD_BwE&gclsrc=aw.ds" target="_blank" rel="noopener noreferrer">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmhVaZlaIfKJcBkpUu4qas01v_iaMsJNm5PA&usqp=CAU" alt="" id="maquiagens"></a>
                     <h1>Kit Botik Vitamina C (4 itens)</h1>
                     <h2>Oboticario</h2>
                     <h3> R$ 179,90</h3>
                   
                </article>
           </nav>
           
                 
        </section>
        </div>
        </div>
            
       </footer>     
</body>
</html>